body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.vertical-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
    
.horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.vh-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.react-bs-table-container {
    .tr {
        background-color: #fff;
    }
}